body {
    margin: 0;
}

.flexbox-centering-container {
    background-color: beige;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.weather-area-container {
    background-color: antiquewhite;
    padding: 30px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main-weather-text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#input-area {
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px white;
}

#input-area:focus {
    outline: none;
}

#input-button {
    background: none;
    padding: 10px;
    border-radius: 8px;
    border-color: green;
    border-style: solid;
    box-sizing: border-box;
    border-width: 2px;
    transition:
        background-color 0.2s,
        color 0.2s ease-in-out;
}

#input-button:hover {
    background-color: green;
    color: white;
    transition:
        background-color 0.2s,
        color 0.2s ease-in-out;
}
